video {
  filter: sepia(1);
  -moz-filter: sepia(1);
  -webkit-filter: sepia(1);
}

video#localVideo {
  float: left;
  width: 50%;
}

video#remoteVideo {
  float: right;
  width: 50%;
}

#controls {
  clear: both;
}
